body {
    background: #282c34;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
}

.container {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px;

}

.counterNum {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    margin-bottom: 15px;
    flex-grow: 1;
    font-size: 32px;
    font-weight: bolder;
}

.buttonContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    min-width: 450px;
}

button {
    font-size: 25px;
}

.maxValue {
    color: red;
}

.error {
    color: red;
}