body {
    background: #282c34;
}

.container {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px;

}

.counterNum {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    margin-bottom: 15px;
}

.buttonContainer {
    display: flex;
    gap: 15px;
}